map ${EDGE_AUTHENTICATION_REQUEST_HEADER_NGINX_VARIABLE} $request_carries_valid_edge_authentication {
    default 0;
    "${EDGE_SHARED_SECRET_VALUE}" 1;
}

server {
    listen ${NGINX_LISTEN_PORT};
    server_name _;

    root ${NGINX_DOCUMENT_ROOT};

    if ($request_carries_valid_edge_authentication = 0) {
        return 403;
    }

    location / {
        try_files $uri $uri/ ${APP_INDEX_FALLBACK_PATH};
    }
}
